@using Newtonsoft.Json
@using Resources.Enums
@model EmployeeDepartmentViewModel

@{
    ViewData["Title"] = "Edit department";
}

<div class="modal-content">
    <div class="modal-header">
        <h4>Edit skill</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form asp-controller="Employee" asp-action="EditDepartment" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input hidden asp-for="EmployeeId" name="EmployeeId" value="@Model.EmployeeId" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Office</label>
                    <select id="OfficeSelect" asp-for="OfficeId" onchange="changedOffice()" asp-items="ViewBag.Offices" class="form-control"></select>
                    <span asp-validation-for="OfficeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Department</label>
                    <select id="DepartmentSelect" asp-for="DepartmentId" class="form-control"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Position</label>
                    @*<select id="PositionSelect" asp-for="PositionId" asp-items=""  class="form-control"></select>*@
                    <span asp-validation-for="PositionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
            
        </div>
    </div>
</div>
<script>

    async function changedOffice() {
        let select = document.getElementById('OfficeSelect');
        const url = `/api/Department/GetDepartments/${select.value}`;
        const response = await fetch(url);
        const json = await response.json();
        const dep = document.getElementById("DepartmentSelect");
        const off = document.getElementById("OfficeSelect");
        const depArray = json.map(item => item.Name);
        json.forEach((item) => {
            const op = document.createElement('option');
            op.appendChild(document.createTextNode(item.Name));
            op.setAttribute('value', item.Id);
            dep.appendChild(op);
        })
        console.log(depArray);
        console.dir(off);
        console.dir(dep.value);
        console.log(json);
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}