@using Resources.Enums
@model PayrollViewModel
@{
    ViewData["Title"] = "Edit skill";
}

<div class="modal-content">
    <div class="modal-header">
        <h4>Edit skill</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form asp-controller="Employee" asp-action="EditPayroll" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" >
                    <input hidden asp-for="EmployeeId" name="EmployeeId" value="@ViewBag.EmployeeId" class="form-control" />
                </div>
                <div class="form-group">
                    <input hidden asp-for="Id" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Employment" class="modal-label"></label>
                    <select asp-for="Employment" asp-items="Html.GetEnumSelectList<Employment>()" class="form-control"></select>
                    <span asp-validation-for="Employment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="modal-label"></label>
                    <input asp-for="Salary" class="form-control"/>
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Currency" class="modal-label"></label>
                    <select asp-for="Currency" asp-items="Html.GetEnumSelectList<Currency>()"  class="form-control"></select>
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}