@model X.PagedList.IPagedList<PhenixProject.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    var error = ViewBag.Error;
}

@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    <h1>Employees</h1>
    <form data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#result"
          asp-action="EmployeeSearch"
          method="post"
          class="search-container">
        <input class="search" type="text" name="searchString">
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <div id="result">
        @Html.Partial("_EmployeeSearchPartial",Model)
    </div>
    
}
    
