@using Resources.Enums
@model X.PagedList.IPagedList<CandidateViewModel>

@{
    ViewData["Title"] = "Candidates";
    var error = ViewBag.Error;
}

<h1>Candidates</h1>
<div class="block-align-center">
    @Html.ActionLink("Add new candidate", "RegisterCandidate")
</div>
@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    <form data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#result"
          asp-action="CandidateSearch"
          method="post"
          class="search-container">
        <input class="search" type="text" name="searchString">
        <select name="gender" asp-items="Html.GetEnumSelectList<GenderFilter>()" class="form-control filter"></select>
        <select name="archived" asp-items="Html.GetEnumSelectList<ArchivedFilter>()" class="form-control filter"></select>
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <div id="result">
        @Html.Partial("_CandidateSearchPartial",Model)
    </div>
}
