@using Resources.Enums
@model PhenixProject.Models.EmployeeViewModel

@{
    ViewData["Title"] = "TransferToEmployee";
}

<h1>TransferToEmployee</h1>

<h4>EmployeeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TransferToEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container custom-container">
                <h3>Payroll</h3>
                <hr />
                <div class="form-group">
                    <label asp-for="Payroll.Employment" class="control-label"></label>
                    <select asp-for="Payroll.Employment" asp-items="Html.GetEnumSelectList<Employment>()" class="form-control"></select>
                    <span asp-validation-for="Payroll.Employment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Payroll.Salary" class="control-label"></label>
                    <input type="number" asp-for="Payroll.Salary" class="form-control"/>
                    <span asp-validation-for="Payroll.Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Office</label>
                    <select id="OfficeSelect" asp-for="OfficeId" value="" onchange="changedSelect(this.value, 'DepartmentSelect', '/api/Department/GetDepartments')" asp-items="ViewBag.Offices" class="form-control">
                        <option>-- select office --</option>
                    </select>
                    <span asp-validation-for="OfficeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Department</label>
                    <select id="DepartmentSelect" onchange="changedSelect(this.value, 'PositionSelect', '/api/Department/GetPositions')" asp-for="DepartmentId" class="form-control">
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Position</label>
                    <select id="PositionSelect" asp-for="PositionId" class="form-control"></select>
                    <span asp-validation-for="PositionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    async function changedSelect(value, change, uri) {
        const response = await fetch(`${uri}/${value}`);
        const json = await response.json();
        const chg = document.getElementById(change);
        if (chg.childNodes.length > 0) {
            chg.innerHTML = "";
            if (change == "DepartmentSelect") {
                document.getElementById("PositionSelect").innerHTML = "";
            }
        }
        json.forEach((item) => {
            const op = document.createElement('option');
            op.appendChild(document.createTextNode(item.Name));
            op.setAttribute('value', item.Id);
            chg.appendChild(op);
        });
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
