@model X.PagedList.IPagedList<PhenixProject.Data.AppUser>
@{
    ViewData["Title"] = "AllAdministrators";
}

<h1>All administrators</h1>
<div class="title-text">
@Html.ActionLink("Create new administrator", "RegisterAdministrator","Account")
</div>
<div asp-validation-summary="All" class="text-danger"></div>
@if (Model!=null)
{
    <form data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#result"
          asp-action="AdministratorsSearch"
          method="post"
          class="search-container">
        <input class="search" type="text" name="searchString">
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <div id="result">
        @Html.Partial("_AdministratorsSearchPartial",Model)
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}