@model X.PagedList.IPagedList<PhenixProject.Data.AppUser>

@{
    ViewData["Title"] = "AllManagers";
}
    <h1>All managers</h1>
    <div class="title-text">
@Html.ActionLink("Create new manager", "RegisterHRManager","Account")
    </div>
<div asp-validation-summary="All" class="text-danger"></div>
@if (Model!=null)
{
    <form data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#result"
          asp-action="ManagersSearch"
          method="post"
          class="search-container">
        <input class="search" type="text" name="searchString">
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <div id="result">
        @Html.Partial("_ManagersSearchPartial",Model)
    </div>
    
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}