@using Resources.Enums
@model WEB.Models.CandidateViewModel

@{
    ViewData["Title"] = "AddCandidate";
}

<h1>AddCandidate</h1>

<h4>CandidateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCandidate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container custom-container">
                <h3>Personal information</h3>
                <hr />
                <div class="form-group">
                    <label asp-for="PersonalInfo.FirstName" class="control-label"></label>
                    <input asp-for="PersonalInfo.FirstName" class="form-control" />
                    <span asp-validation-for="PersonalInfo.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.MidName" class="control-label"></label>
                    <input asp-for="PersonalInfo.MidName" class="form-control" />
                    <span asp-validation-for="PersonalInfo.MidName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.LastName" class="control-label"></label>
                    <input asp-for="PersonalInfo.LastName" class="form-control" />
                    <span asp-validation-for="PersonalInfo.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.Gender" class="control-label"></label>
                    <select asp-for="PersonalInfo.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                    <span asp-validation-for="PersonalInfo.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.BirthDate" class="control-label"></label>
                    <input asp-for="PersonalInfo.BirthDate" asp-format="{0:dd-MM-yyyy}" class="form-control" />
                    <span asp-validation-for="PersonalInfo.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="container custom-container">
                <h3>Candidate information</h3>
                <hr />
                <div class="form-group">
                    <label asp-for="Employment" class="control-label"></label>
                    <select asp-for="Employment" asp-items="Html.GetEnumSelectList<Employment>()" class="form-control"></select>
                    <span asp-validation-for="Employment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesiredSalary" class="control-label"></label>
                    <input asp-for="DesiredSalary" class="form-control" />
                    <span asp-validation-for="DesiredSalary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CareerObjective" class="control-label"></label>
                    <input asp-for="CareerObjective" class="form-control" />
                    <span asp-validation-for="CareerObjective" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <textarea asp-for="About" class="form-control"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
            </div>
            <div class="container custom-container">
                <h3>Contacts</h3>
                <hr />
                <div class="form-group">
                    <label asp-for="PersonalInfo.Contacts.Phone" class="control-label"></label>
                    <input asp-for="PersonalInfo.Contacts.Phone.Value" class="form-control" />
                    <span asp-validation-for="PersonalInfo.Contacts.Phone.Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.Contacts.SecondPhone" class="control-label"></label>
                    <input asp-for="PersonalInfo.Contacts.SecondPhone.Value" class="form-control" />
                    <span asp-validation-for="PersonalInfo.Contacts.SecondPhone.Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.Contacts.Email" class="control-label"></label>
                    <input asp-for="PersonalInfo.Contacts.Email.Value" class="form-control" />
                    <span asp-validation-for="PersonalInfo.Contacts.Email.Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.Contacts.Skype" class="control-label"></label>
                    <input asp-for="PersonalInfo.Contacts.Skype.Value" class="form-control" />
                    <span asp-validation-for="PersonalInfo.Contacts.Skype.Value" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
