﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: beige
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
    
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: #e5e5e5;
    }
}
.table {
    color: white;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    min-height: 100%;
    background-image: url(./static/bg-1.jpg);

}
.footer {
    position:fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    color: white;
    background-color: #333;
}

body {
    color: #e5e5e5;
}
.navbar {
    color: #e5e5e5;
    background-color: #333;
}
a {
    color: greenyellow;
}
.nav-link {
    color: white;
}
.nav-brand {
    color: white;
}

.custom-flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-card {
    margin: 5px;
    width: 200px;
    color: #3931af;
}

.custom-card-img {
    width: 200px;
    height: 200px;
}

/* Employee profile*/

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #333;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: white;
}
.profile-head h6{
    color: #818182;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #818182;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: #818182;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid orange;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: orange;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
    color: #818182;
}
.profile-tab p{
    font-weight: 600;
    color: greenyellow;
}

.managers-page {
    display: flex;
    justify-content: center;
}

.title-text {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.block-align-center {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.black {
    color: black;
}
h1{
    text-align: center;
    color: white;
}

.modal-content {
    color: black;
}

.card {
    margin: 10px 10px 0px 0px;
    color: black;
}

.form-group {
    color: white;
}

.space-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
}

.custom-container {
    flex-grow: 3;
    padding: 0 20px 0 0 ;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-card {
    background-color: white;
    width: 60%;
    height: 100%;
    border-radius: 5px;
    padding: 2.5% 0 ;
    color: black;
    margin-bottom: 15px;
}

.news-cardImg {
    width: 100%;
    padding: 0 2.5%;
    height: 200px;
}

.news-cardTitle {
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

.news-cardDescription {
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 1% 2.5%;
    border-top: 1px solid gray;
}

.news-cardBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2.5%;
}

.news-cardPostTime {
    font-size: 12px;
    color: gray;
    width: 100%;
    padding: 2.5%;
    padding-top: 0;
}

.pagination-custom {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-custom-action {
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 25px;
}

.search-container {
    display: flex;
    justify-content: center;
    height: 38px;
    margin: 10px 0;
}

.search {
    width: 80%;
    height: 100%;
    margin: 0 1%;
    border: 1px solid white;
    border-radius: 5px;
}

.modal-label {
    color: black;
}