@model X.PagedList.IPagedList<PhenixProject.Models.OfficeViewModel>

@{
    ViewData["Title"] = "Index";
    var error = ViewBag.Error;
}

<h1>Offices</h1>

<div class="title-text">
@Html.ActionLink("Add new office", "AddOffice")
</div>
@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    <form data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#result"
          asp-action="OfficesSearch"
          method="post"
          class="search-container">
        <input class="search" type="text" name="searchString">
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <div id="result">
        @Html.Partial("_OfficesSearchPartial",Model)
    </div>
}